body {
    margin: 0;
    padding: 0;
}

#logo {
    margin-left: 45%;
    margin-top: 150px;
}

#firstParagraph {
    margin-left: 45%; 
    margin-top: 58px;
}

#secondParagraph {
    margin-top: 39px; 
    margin-left: 45%; 
}

#redBox {
    padding: 0;
    margin-left: 45%;
    margin-top: 58px;
    background-image: url(../images/red_pattern.png);
    height: 195px;
    width: auto;
}

input {
    margin-left: 0px;
    margin-top: 0px;
    font-family: Tahoma;
    font-size: 11px;
    color: #575757;
    text-transform: uppercase;
    border: 0px;
}

input:focus {
    border: 0;
    outline: none;
}

input#email {
    position: absolute;
    margin-left: 1px;
    margin-top: 1px;

    padding: 13px 0 13px 14px;
    width: 160px;
}

input#emailButton {
    position: absolute;
    margin-left: 176px;
    margin-top: 1px;
}

/* footer */
#followUs {
    position: absolute; 
    bottom: 10px; 

    margin-left: 45%; 
    vertical-align: middle;
    margin-top: 156px; 
}

div#followUs img {
    border: 0px;
}

#twitter {
    margin-right: 25px;
    margin-bottom: 4px;
}

#fuimg {
    margin-right: 45px;
    margin-bottom: 5px;
}
